<div class="container">
  <div class="user">
    <ul>
     <h1> <span class="pre">Username: </span> 
      <%= @user.username %></h1>
    </ul>
    <ul>
     <h2> <span class="pre">Email: </span>
      <%= @user.email %></h2>
    </ul>
  </div>

  <div class="favorites">
    <h1>My Favorites</h1>
      <ul>
        <% @user.personalities.each do |personality| %>
        <h2><%= link_to personality.title, personality %></h2>
        <% end %>
      </ul>
  </div>

  <div class="comments">
    <h1>My Comments</h1>
      <ul>
        <% @comments.each do |comment| %>
          <h2>-<%= link_to comment.personality.title, '/personalities/'+comment.personality_id.to_s %></h2>
          <h3>"<%= comment.body %>"</h3>
        <% end %>
      </ul>
  </div>
</div>
