
<%= form_tag("/search", :method => "POST", :class => 'form') do %>
  <h2><%= label_tag(:title, "Search Title") %></h2>
  <p><%= text_field_tag(:title) %></p>
  <h2><%= label_tag(:q, "Search for:") %></h2>
  <%= text_area_tag(:q, nil, cols: 80, rows: 20 ) %>
  <div class="clear">
  <%= submit_tag("Search") %>
  </div>
<% end %>
