
<%= render "/shared/searchform" %>
<div class="search_container">
  <ul class="nav nav-pills nav-justified">
    <li id="something" class="active"><a data-toggle="pill" href="#twitter">Twitter</a></li>
    <li class="other"><a data-toggle="pill" href="#text">Text</a></li>
  </ul>
  </br>
  <div class="search_forms">
    <div class="tab-content">
      <div id="twitter" class="tab-pane fade in active">
       <%= form_tag("/twitter/search", :method => "POST", :class => 'form') do %>
          <h2><%= label_tag(:q, "Search for:") %></h2>
          <%= text_area_tag(:q, nil, :required => true, size: "20x1", maxlength: 50, minlength: 3) %>
          <div class="clear">
            <%= submit_tag("Search", :class => "btn")%>
          <% end %>
          </div>
          </br>
      </div>
      <div id="text" class="tab-pane fade">
        <%= form_tag("/watson/search", :method => "POST", :class => 'form') do %>
          <h2><%= label_tag(:title, "Search Title") %></h2>
          <p><%= text_field_tag(:title, nil, :required => true, maxlength: 50, minlength: 3 ) %></p>
          <h2><%= label_tag(:q, "Search for:") %></h2>
          <%= text_area_tag(:q, nil, :required => true, size: "80x10", maxlength: 25000, minlength: 1000 ) %>
          <div class="clear">
            <%= submit_tag("Search", :class => "btn")%>
          <% end %>
          </div>
          </br>
      </div>
    </div>
  </div>
</div>




