<section id="slide-1" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-anchor-target="#slide-1"

    <div class="homeSearch">
      <video loop muted autoplay poster="<%= asset_path('grey_lines.png') %>" class="fullscreen-bg__video">
          <source src="<%= asset_path('grey_lines.mp4') %>" type="video/mp4">
      </video>
      <div class="homeSearch">
      </br>
      <div class="search_container">
        <ul class="personality-nav nav nav-pills nav-justified">
          <li id="offPill" class="active off"><a data-toggle="pill" href="#twitter">Twitter</a></li>
          <li class="other"><a data-toggle="pill" href="#text">Text</a></li>
        </ul>
        <div class="search_forms well">
          <div class="tab-content">
            <div id="twitter" class="tab-pane fade in active">
              <%= form_tag("/twitter/search", :method => "POST", :class => 'form') do %>
                 <h2><%= label_tag(:q, "Find out the group personality of those discussing a topic on Twitter") %></h2>
                 <%= text_area_tag(:q, nil, :required => true, size: "20x1", maxlength: 50, minlength: 3, :class => "form-control", :placeholder => "#oprah, @oprah, or oprah is great") %>
                 <div class="clear">
                   <%= submit_tag("Search", :class => "btn btn-default homeButt")%>
                 <% end %>
                </div>
                </br>
            </div>
            <div id="text" class="tab-pane fade">

              <%= form_tag("watson/search", :method => "POST", :class => 'form') do %>

                <h2><%= label_tag(:title, "Title") %></h2>
                <p><%= text_field_tag(:title, nil, :required => true, maxlength: 50, minlength: 3, :class => "form-control", :placeholder => "Describe your text") %></p>
                <h2><%= label_tag(:q, "Input text and find out the personality of the author") %></h2>
                <%= text_area_tag(:q, nil, :required => true, size: "75x6", maxlength: 25000, minlength: 1000, :class => "form-control", :placeholder => "Enter body of text here. We suggest a minimum of 1,000 words for a more accurate personality portrait." ) %>
                <div class="clear">
                  <%= submit_tag("Search", :class => "btn btn-default homeButt")%>
                <% end %>
                </div>
                </br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        <div class="hsContainer">
            <div class="hsContent"
                data-center="opacity: 1"
                data-106-top="opacity: 0"
                data-anchor-target="#slide-1 h2"
            >
            </div>
        </div>
      </div>
</section>
<section id="slide-2">
    <div class="bcg"
        data-0="background-color:rgb(43, 157, 145);"
        data-top="background-color:rgb(12, 46, 42);"
        data-anchor-target="#slide-2"
    >
        <div class="hsContainer">
            <div class="hsContent">
                <h2
                    data--200-bottom="opacity: 0"
                    data-center="opacity: 1"
                    data-206-top="opacity: 1"
                    data-106-top="opacity: 0"
                    data-anchor-target="#slide-2 h2"
                >
                </h2>
            </div>
        </div>
    </div>
</section>
<section id="slide-3" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 0px 50%;"
        data-bottom-top="background-position: 0px 40%;"
        data-top-bottom="background-position: -40px 50%;"
        data-anchor-target="#slide-3"
    >
    <div class="homeRecent">
      <div class="well">
        <h1>Recent Searches</h1>
        <ul>
          <% @recent.each do |item| %>
            <li>
              <h4><%= link_to item.title, item %></h4>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
        <div class="hsContainer">
            <div class="hsContent">
                <div class="plaxEl"
                    data-106-top="opacity: 0"
                    data-bottom="opacity: 1; position: fixed; top: 206px; width: 100%; left: 0;"
                    data--30p-top="opacity: 1;"
                    data--60p-top="opacity: 0;"
                    data-anchor-target="#slide-3"
                >
                </div>
            </div>
        </div>
    </div>
</section>
<section id="slide-2">
    <div class="bcg"
        data-0="background-color:rgb(43, 157, 145);"
        data-top="background-color:rgb(12, 46, 42);"
        data-anchor-target="#slide-2"
    >
        <div class="hsContainer">
            <div class="hsContent">
                <h2
                    data--200-bottom="opacity: 0"
                    data-center="opacity: 1"
                    data-206-top="opacity: 1"
                    data-106-top="opacity: 0"
                    data-anchor-target="#slide-2 h2"
                >
                </h2>
            </div>
        </div>
    </div>
</section>
<section id="slide-4" class="homeSlide homeSlideTall">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-bottom-top="background-position: 50% 100px;"
        data-top-bottom="background-position: 50% -100px;"
        data-anchor-target="#slide-4"
    >
    <div class="homeTeam">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-sm-3 col-md-2">
        <div class="thumbnail teamThumbs">
          <img src="../Jonathan.jpg" alt="...">
          <div class="caption">
            <h3>Jonathan</h3>
            <p>I am a full stack web developer with an abiding interest in using my skills to make the world better. I am a quick study with a sense of humor, looking to really challenge my web developer skills while also finding meaningful ways to fully utilize my marketing, communications, and leadership experience.
            </p>
            <p><a href="https://www.linkedin.com/in/jirwin2" class="btn btn-primary" role="button" target="_blank">Linkedin</a> <a href="https://github.com/irwinj" class="btn btn-default" role="button" target="_blank">Github</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-2">
        <div class="thumbnail teamThumbs">
          <img src="../Erika.jpg" alt="...">
          <div class="caption">
            <h3>Erika</h3>
            <p>
            I am Seattle-based, full stack web developer that loves taking on new challenges while working with others to create efficient, elegant web applications. I enjoy spending my free time listening to music, reading, dancing, walking in the forest, and cycling.
            </p>
            <p><a href="https://www.linkedin.com/in/erikapallasmoore" class="btn btn-primary" role="button" target="_blank">Linkedin</a> <a href="
https://github.com/erikapallasmoore" class="btn btn-default" role="button" target="_blank">Github</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-2">
        <div class="thumbnail teamThumbs">
          <img src="../Rachel.jpg" alt="...">
          <div class="caption">
            <h3>Rachel</h3>
            <p>I’m a web developer who is passionate about building community everywhere I go and working with others to create products that enrich people’s lives both in their production and use. I’m tenacious, inquisitive and focused on achieving results I can be proud of.
            </p>
            <p><a href="
https://www.linkedin.com/in/rachel-williams-9a304162" class="btn btn-primary" role="button" target="_blank">Linkedin</a> <a href="
https://github.com/raichel81" class="btn btn-default" role="button" target="_blank">Github</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-2">
        <div class="thumbnail teamThumbs">
          <img src="../Erin.jpg" alt="...">
          <div class="caption">
            <h3>Erin</h3>
            <p>I’m a web developer that loves all technology, from sci-fi to gadgets. I leverage my diverse career background from being a teacher, graphic designer, baker and visual lead to finish any task I start. When I’m not in front of my computer, you can find me cooking up something delicious for my wife or playing with my cats.</p>
            <p><a href="https://www.linkedin.com/in/erin-moon-9417b597" class="btn btn-primary" role="button" target="_blank">Linkedin</a> <a href="https://github.com/chibitofu" class="btn btn-default" role="button" target="_blank">Github</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
        <div class="curtainContainer">
            <div class="curtain"
                data-bottom-top="opacity: 0"
                data-106-top="height: 1%; top: -10%; opacity: 0;"
                data-center="height: 100%; top: 0%; opacity: 0.5"
                data-anchor-target="#slide-4"
            ></div>
            <div class="copy"
                data-bottom-top="opacity: 0"
                data--100-bottom="opacity: 0"
                data--280-bottom="opacity: 1;"
                data-280-top="opacity: 1;"
                data-106-top="opacity: 0;"
                data-anchor-target="#slide-4 .copy"
            >
            </div>
        </div>
    </div>
</section>
