<video loop muted autoplay poster=<%= asset_path('background.jpg') %> class="fullscreen-bg__video">
    <source src=<%= asset_path('background.mp4') %> type="video/mp4">
</video>

<div class="search_container">
  <ul class="nav nav-pills nav-justified">
    <li class="active toggle"><a data-toggle="pill" href="#twitter">Twitter</a></li>
    <li class="toggle"><a data-toggle="pill" href="#text">Text</a></li>
  </ul>
  </br>
  <div class="search_forms well">
    <div class="tab-content">
      <div id="twitter" class="tab-pane fade in active">
       <%= form_tag("/twitter/search", :method => "POST", :class => 'form') do %>
          <h2><%= label_tag(:q, "Find out the group personality of those discussing a topic on Twitter") %></h2>
          <%= text_area_tag(:q, nil, :required => true, size: "27x1", maxlength: 50, minlength: 3, :placeholder => "#oprah, @oprah, or oprah is great") %>
          <div class="clear">
            <%= submit_tag("Search", :class => "btn")%>
          <% end %>
          </div>
          </br>
      </div>
      <div id="text" class="tab-pane fade">
        <%= form_tag("/watson/search", :method => "POST", :class => 'form') do %>
          <h2><%= label_tag(:title, "Title") %></h2>
          <p><%= text_field_tag(:title, nil, :required => true, maxlength: 50, minlength: 3, :placeholder => "Describe your text") %></p>
          <h2><%= label_tag(:q, "Input text and find out the personality of the author") %></h2>
          <%= text_area_tag(:q, nil, :required => true, size: "75x7", maxlength: 25000, minlength: 1000, :placeholder => "Enter body of text here. We suggest a minimum of 1,000 words for a more accurate personality portrait." ) %>
          <div class="clear">
            <%= submit_tag("Search", :class => "btn")%>
          <% end %>
          </div>
          </br>
      </div>
    </div>
  </div>
</div>
<br/>




