<!DOCTYPE html>
<html>
<head>
  <title>SocialPersonalityApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<!-- This sets the body class name to the current controller in use, and the current method in use. -->
<body>
  
<%= render "devise/shared/links" %> <%= link_to "Search", "/" %> <%= link_to "Recent", "/recent" %>

<script src="//d3js.org/d3.v3.min.js"></script>

</body>
</html>
